%table.bloque.otros_titulares
  %tr
    %td{ colspan: 2 }
      %h3.titulo_bloque Otros titulares
      - @otros_titulares.each_with_index do |titular, i|
        - foto = titular.fotos.first
        %tr.otro_titular{ id: "otro_titular_#{i}" }
          - if foto
            %td.foto= image_tag foto.adjunto.url(:thumb), alt: foto.titulo
          %td.texto{ colspan: foto ? nil : 2, class: foto ? 'con_foto' : nil }
            %h5.titulo= link_to_con_estadisticas titular.titulo, titular.contenido_dominio_link, @news_tematica
            %p.resumen
              = max_caracteres_con_palabras_enteras(titular.descripcion, 150)
              = link_to_con_estadisticas 'Leer&nbsp;más&nbsp;>>'.html_safe, titular.contenido_dominio_link, @news_tematica, class: 'leer_mas'
