%table.bloque.mas_leidos
  %tr
    %td{ colspan: 2 }
      %h3.titulo_bloque Lo más leído esta semana
  - @masleidos.each_with_index do |masleido, i|
    %tr.mas_leido{ id: "masleido_#{i}" }
      %td.cuadrado= image_tag 'http://www.rankia.com/assets/li_cuadradito_rojo.png', alt: '·'
      %td.texto
        %h5.titulo= link_to_con_estadisticas masleido.titulo, masleido.contenido_dominio_link, @news_tematica
        %p.resumen
          = masleido.descripcion
          = link_to_con_estadisticas 'Leer más >>', masleido.contenido_dominio_link, @news_tematica, class: 'leer_mas'
