%table.footer
  %tr
    %td.mas_info{ colspan: 2 }
      Más información en
      - dominio = HTTP_DOMINIOS[@news_tematica.locale_para_enlaces]
      = link_to_con_estadisticas dominio.sub('http://', ''), dominio, @news_tematica
  %tr
    %td.social
      %span.texto Síguenos en
      .iconos
        = link_to_con_estadisticas image_tag(image_url('iconos/twitter.png'), alt: 'Twitter'),
          t('redes_sociales.twitter', locale: @news_tematica.locale_para_enlaces), @news_tematica, class: 'icono'
        = link_to_con_estadisticas image_tag(image_url('iconos/facebook.png'), alt: 'Facebook'),
          t('redes_sociales.facebook', locale: @news_tematica.locale_para_enlaces), @news_tematica,  class: 'icono'
    %td.mail
      CONTACTO:
      = link_to_con_estadisticas ::NewsTematica::Personalizacion.email_contacto,
        "mailto:#{::NewsTematica::Personalizacion.email_contacto}", @news_tematica
