:sass
  $gris: #6C6C6C
  $gris_claro: #878787
  $gris_oscuro: #595252
  $azul: #6698D8
  $azul_palido: #E4E5EB
  $azul_oscuro: #0C517E
  $naranja: #CA7826
  .wrapper
    font-family: 'Trebuchet MS',Trebuchet,Arial,Verdana,Sans-serif
  .header
    width: 100%
    border-collapse: collapse
    td
      vertical-align: bottom
      border-bottom: solid 3px $azul
    .logo
      padding-bottom: 35px
    .titulo_news
      padding-bottom: 23px
      text-align: right
      font-size: 26px
  .titulo_tematica
    text-transform: uppercase
    font-weight: normal
    font-size: 26px
    padding: 30px 12px 0
    margin: 0
  .content
    padding: 0 10px
  .right_column, .left_column
    vertical-align: top
  .left_column
    width: 55%
  .right_column
    width: 45%
    padding-left: 30px
  .bloque
    td
      vertical-align: top
    padding: 20px 15px
    background: $azul_palido
    color: $gris_oscuro
    margin: 30px 0
    border-radius: 5px
    .titulo_bloque
      text-transform: uppercase
      font-weight: normal
      color: $gris
      font-size: 27px
      margin: 0
      padding: 0
    .subtitulo_bloque
      font-weight: normal
      font-size: 13px
      color: $gris_claro
      margin: 0
      padding: 0
    .foto
      padding-right: 10px
    .titulo
      color: $azul_oscuro
      margin: 0
      padding: 0
      font-weight: normal
      a
        color: inherit
        text-decoration: none
    .resumen
      color: $gris_oscuro
      margin: 0
      padding: 0
      font-size: 13px
      .leer_mas
        color: $naranja
        text-decoration: none
        position: relative
  .titular
    td
      padding: 10px 0
    .foto
      width: 25%
      img
        width: 160px
        max-width: 100%
    .titulo
      font-size: 19px
  .mas_leido, .otro_titular
    td
      padding-top: 5px
      padding-bottom: 5px
    .cuadrado
      img
        color: red
        font-size: 71px
        line-height: 16px
        width: 9px
    .foto
      width: 25%
      img
        max-width: 100%
    .texto
      padding: 5px 0
      &.con_foto
        background: none
        padding-left: 0
    .titulo
      font-weight: bold
      font-size: 14px
  .tema
    td
      padding-top: 10px
    .nombre_usuario
      color: $naranja
      font-style: italic
      font-size: 11px
  .banner_lateral
    width: 100%
    text-align: center
    padding: 0 0 5px 0
    img
      max-width: 300px
      width: 100%
  .banner_inferior
    width: 100%
    text-align: center
    padding: 0 0 27px 0
    img
      max-width: 728px
      width: 100%
  .footer
    background: $azul
    color: #FFF
    width: 100%
    .mas_info
      font-weight: normal
      text-align: center
      font-size: 30px
      padding: 30px 0 0
      a
        text-decoration: none
        color: $naranja
    .mail
      text-align: right
      a
        color: #FFF
        text-decoration: none
    .mail, .social
      padding: 45px 35px 55px
      font-size: 18px
    .mail
      padding-left: 0
    .social
      padding-right: 0
      text-transform: uppercase
      .texto, .iconos
        display: inline-block
        float: left
      .iconos
        margin-left: 20px
        .icono
          display: inline-block
          width: 30px
          height: 30px
          font-size: 8px
          img
            max-width: 100%
            border-radius: 4px

%p{style: "background-color: #ffffcf;text-align:center;font-size:11px;"}
  Si el email no se ve correctamente,
  %a{href: "[weblink]", style: "color:#002aff;"} haz clic aquí
- config = { news_tematica: @news_tematica, host: request.host }
.wrapper
  %table.header
    %tr
      %td.logo= image_tag 'http://www.rankia.com/images/logo_rankia.png', alt: 'Rankia'
      %td.titulo_news= @news_tematica.titulo

  %h2.titulo_tematica News temática de #{@news_tematica.tematica.nombre}

  .content
    %table
      %tr
        %td.left_column
          - if @titulares and @titulares.any?
            %table.bloque.titulares
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Titulares
              - @titulares.each_with_index do |titular, i|
                - foto = titular.fotos.first
                %tr.titular{ id: "titular_#{i}" }
                  - if foto
                    %td.foto= image_tag foto.adjunto.url(:col), alt: foto.titulo
                  %td.texto{ colspan: foto ? nil : 2 }
                    %h5.titulo= link_to_con_estadisticas titular.titulo, titular.contenido_dominio_link, config
                    %p.resumen
                      = titular.descripcion
                      = link_to_con_estadisticas 'Leer más >>', titular.contenido_dominio_link, config, class: 'leer_mas'

          - if @masleidos and @masleidos.any?
            %table.bloque.mas_leidos
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Lo más leído esta semana
              - @masleidos.each_with_index do |masleido, i|
                %tr.mas_leido{ id: "masleido_#{i}" }
                  %td.cuadrado= image_tag 'http://www.rankia.com/images/li_cuadradito_rojo.png', alt: '·'
                  %td.texto
                    %h5.titulo= link_to_con_estadisticas masleido.titulo, masleido.contenido_dominio_link, config
                    %p.resumen
                      = masleido.descripcion
                      = link_to_con_estadisticas 'Leer más >>', masleido.contenido_dominio_link, config, class: 'leer_mas'

        %td.right_column
          - if @temas and @temas.any?
            %table.bloque.foro
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Foro de #{@news_tematica.tematica.nombre}
              - @temas.each_with_index do |tema, i|
                - usuario = tema.usuario
                - foto = usuario.avatar
                %tr.tema{ id: "tema_#{i}" }
                  %td.foto= image_tag foto.url(:cthumbnail), alt: usuario.nick
                  %td.texto
                    %h5.titulo= link_to_con_estadisticas tema.titulo, tema.contenido_dominio_link, config
                    %span.nombre_usuario= usuario.nick
                    %p.resumen
                      = tema.descripcion

          - if @banner_lateral
            .banner_lateral= link_to_con_estadisticas image_tag(@banner_lateral[:url_imagen], alt: @banner_lateral[:texto_alt]), @banner_lateral[:url_destino], config

          - if @otros_titulares and @otros_titulares.any?
            %table.bloque.otros_titulares
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Otros titulares
                  - @otros_titulares.each_with_index do |titular, i|
                    - foto = titular.fotos.first
                    %tr.otro_titular{ id: "otro_titular_#{i}" }
                      - if foto
                        %td.foto= image_tag foto.adjunto.url(:thumb), alt: foto.titulo
                      %td.texto{ colspan: foto ? nil : 2, class: foto ? 'con_foto' : nil }
                        %h5.titulo= link_to_con_estadisticas titular.titulo, titular.contenido_dominio_link, config
                        %p.resumen
                          = max_caracteres_con_palabras_enteras(titular.descripcion, 150)
                          = link_to_con_estadisticas 'Leer&nbsp;más&nbsp;>>'.html_safe, titular.contenido_dominio_link, config, class: 'leer_mas'

  - if @banner_inferior
    .banner_inferior= link_to_con_estadisticas image_tag(@banner_inferior[:url_imagen], alt: @banner_inferior[:texto_alt]), @banner_inferior[:url_destino], config

  %table.footer
    %tr
      %td.mas_info{ colspan: 2 }
        Más información en
        = link_to_con_estadisticas 'www.rankia.com', 'http://www.rankia.com', config
    %tr
      %td.social
        %span.texto Síguenos en
        .iconos
          = link_to_con_estadisticas image_tag('http://twitter.com/images/resources/twitter-bird-blue-on-white.png', alt: 'Twitter'), 'http://twitter.com/Rankia', config, class: 'icono'
          = link_to_con_estadisticas image_tag('http://www.facebookbrand.com/img/assets/asset.f.logo.lg.png', alt: 'Facebook'), 'http://www.facebook.com/pages/Rankia/27338248988', config,  class: 'icono'
      %td.mail
        CONTACTO:
        = link_to_con_estadisticas 'info@rankia.com', 'mailto:info@rankia.com', config

%table{cellpadding: "0", cellspacing: "0", style: "width:100%;background-color:#f1f1f1; margin:0;color:#a9a9a9; font-size:11px;padding-bottom:5px;"}
  %tr
    %td{style: "vertical-align: middle;font-size:11px;padding:5px;"}
      Para darte de baja,
      %a{href: "[unsubscribe]"} haz clic aquí
    %td{style: "vertical-align: top;font-size:11px;"}
      [%from_name%]
      %br
      [%address%], [%city%], [%state%], [%zip%]
