= render 'preview.sass'
= render 'preview_app.sass'

= render 'weblink'

.wrapper
  = render 'header'

  %h2.titulo_tematica= @news_tematica.titulo_generico

  .content
    %table
      %tr
        %td.left_column
          - if @titulares and @titulares.any?
            = render 'bloque_titulares'

          - if @masleidos and @masleidos.any?
            = render 'bloque_mas_leidos'

        %td.right_column
          - if @temas and @temas.any?
            = render 'bloque_foro'

          - if @banner_lateral
            .banner_lateral= link_to_con_estadisticas image_tag(image_url(@banner_lateral[:url_imagen]),
              alt: @banner_lateral[:texto_alt]), @banner_lateral[:url_destino], @news_tematica

          - if @otros_titulares and @otros_titulares.any?
            = render 'bloque_otros_titulares'

  - if @banner_inferior
    .banner_inferior= link_to_con_estadisticas image_tag(image_url(@banner_inferior[:url_imagen]),
      alt: @banner_inferior[:texto_alt]), @banner_inferior[:url_destino], @news_tematica

  = render 'pre_footer'

  = render 'footer'

= render 'unsubscribe'
