= render 'preview.sass'
= render 'preview_app.sass'
%p{style: "background-color: #ffffcf;text-align:center;font-size:11px;"}
  Si el email no se ve correctamente,
  %a{href: "[weblink]", style: "color:#002aff;"} haz clic aquí
- config = { news_tematica: @news_tematica, host: request.host }
.wrapper
  %table.header
    %tr
      %td.logo= ::NewsTematica::Personalizacion.logo.html_safe
      %td.titulo_news= @news_tematica.titulo

  %h2.titulo_tematica News temática de #{@news_tematica.tematica.nombre}

  .content
    %table
      %tr
        %td.left_column
          - if @titulares and @titulares.any?
            %table.bloque.titulares
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Titulares
              - @titulares.each_with_index do |titular, i|
                - foto = titular.fotos.first
                %tr.titular{ id: "titular_#{i}" }
                  - if foto
                    %td.foto= image_tag foto.adjunto.url(:col), alt: foto.titulo
                  %td.texto{ colspan: foto ? nil : 2 }
                    %h5.titulo= link_to_con_estadisticas titular.titulo, titular.contenido_dominio_link, config
                    %p.resumen
                      = titular.descripcion
                      = link_to_con_estadisticas 'Leer más >>', titular.contenido_dominio_link, config, class: 'leer_mas'

          - if @masleidos and @masleidos.any?
            %table.bloque.mas_leidos
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Lo más leído esta semana
              - @masleidos.each_with_index do |masleido, i|
                %tr.mas_leido{ id: "masleido_#{i}" }
                  %td.cuadrado= image_tag 'http://www.rankia.com/assets/li_cuadradito_rojo.png', alt: '·'
                  %td.texto
                    %h5.titulo= link_to_con_estadisticas masleido.titulo, masleido.contenido_dominio_link, config
                    %p.resumen
                      = masleido.descripcion
                      = link_to_con_estadisticas 'Leer más >>', masleido.contenido_dominio_link, config, class: 'leer_mas'

        %td.right_column
          - if @temas and @temas.any?
            %table.bloque.foro
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Foro de #{@news_tematica.tematica.nombre}
              - @temas.each_with_index do |tema, i|
                - usuario = tema.usuario
                - foto = usuario.avatar
                %tr.tema{ id: "tema_#{i}" }
                  %td.foto= image_tag foto.url(:cthumbnail), alt: usuario.nick
                  %td.texto
                    %h5.titulo= link_to_con_estadisticas tema.titulo, tema.contenido_dominio_link, config
                    %span.nombre_usuario= usuario.nick
                    %p.resumen
                      = tema.descripcion

          - if @banner_lateral
            .banner_lateral= link_to_con_estadisticas image_tag(@banner_lateral[:url_imagen], alt: @banner_lateral[:texto_alt]), @banner_lateral[:url_destino], config

          - if @otros_titulares and @otros_titulares.any?
            %table.bloque.otros_titulares
              %tr
                %td{ colspan: 2 }
                  %h3.titulo_bloque Otros titulares
                  - @otros_titulares.each_with_index do |titular, i|
                    - foto = titular.fotos.first
                    %tr.otro_titular{ id: "otro_titular_#{i}" }
                      - if foto
                        %td.foto= image_tag foto.adjunto.url(:thumb), alt: foto.titulo
                      %td.texto{ colspan: foto ? nil : 2, class: foto ? 'con_foto' : nil }
                        %h5.titulo= link_to_con_estadisticas titular.titulo, titular.contenido_dominio_link, config
                        %p.resumen
                          = max_caracteres_con_palabras_enteras(titular.descripcion, 150)
                          = link_to_con_estadisticas 'Leer&nbsp;más&nbsp;>>'.html_safe, titular.contenido_dominio_link, config, class: 'leer_mas'

  - if @banner_inferior
    .banner_inferior= link_to_con_estadisticas image_tag(@banner_inferior[:url_imagen], alt: @banner_inferior[:texto_alt]), @banner_inferior[:url_destino], config

  %table.footer
    %tr
      %td.mas_info{ colspan: 2 }
        Más información en
        = link_to_con_estadisticas ::NewsTematica::Personalizacion.dominio, "http://#{::NewsTematica::Personalizacion.dominio}", config
    %tr
      %td.social
        %span.texto Síguenos en
        .iconos
          = link_to_con_estadisticas image_tag('http://twitter.com/images/resources/twitter-bird-blue-on-white.png', alt: 'Twitter'), ::NewsTematica::Personalizacion.twitter_url, config, class: 'icono'
          = link_to_con_estadisticas image_tag('http://www.facebookbrand.com/img/assets/asset.f.logo.lg.png', alt: 'Facebook'), ::NewsTematica::Personalizacion.facebook_url, config,  class: 'icono'
      %td.mail
        CONTACTO:
        = link_to_con_estadisticas ::NewsTematica::Personalizacion.email_contacto, "mailto:#{::NewsTematica::Personalizacion.email_contacto}", config

%table{cellpadding: "0", cellspacing: "0", style: "width:100%;background-color:#f1f1f1; margin:0;color:#a9a9a9; font-size:11px;padding-bottom:5px;"}
  %tr
    %td{style: "vertical-align: middle;font-size:11px;padding:5px;"}
      Para darte de baja,
      %a{href: "[unsubscribe]"} haz clic aquí
    %td{style: "vertical-align: top;font-size:11px;"}
      [%from_name%]
      %br
      [%address%], [%city%], [%state%], [%zip%]
