%h1= @titulo

= form_for @news_tematica do |f|
  %table
    = campo f, 'titulo', class: 'grande'
    = campo f, 'fecha_envio', tipo: 'datetime', label: 'Fecha&nbsp;envío', tr_style: 'height: 40px'
    %tr
      %th
      %td.flota_der= link_to('Seleccionar contenidos', elegir_contenidos_news_tematica_path(@news_tematica), title: 'Permite seleccionar los titulares y mensajes que van a ser incluidos en la newsletter, quitando los duplicados y/o que no interesen.', style: 'margin-right: 10px')
    = campo f, 'html', tipo: 'area', autofocus: true, tr_style: 'vertical-align: top'
    %tr
      %th
      %td
        - if @news_tematica.enviada
          %p Esta newsletter ya ha sido enviada, no puede modificarse ni volverse a enviar.
        - else
          = submit_tag('Guardar', class: 'boton_reborde_naranja_grande')
          = submit_tag('Enviar vía Mandrill', class: 'boton_azul_claro_reborde', onclick: "return confirm('¿Enviar a Mandrill?');")

= javascript_include_tag 'http://www.rankia.com/ckeditor/ckeditor.js'
:javascript
  CKEDITOR.replace('news_tematica_html');
