%h1= @titulo

= form_tag contenidos_elegidos_news_tematica_path(@news_tematica) do |f|

  %h3
    Titulares (a partir del 5º titular van a Otros titulares)
  %ul.lista-sin-puntitos
    - @titulares.each_with_index do |msg, i|
      = render 'li_titular', msg: msg, i: i
  %h3 Foros
  %ul.lista-sin-puntitos
    - @temas.each_with_index do |msg, i|
      %li
        %input{ id: "tema_#{msg.id}", type: "checkbox", name: "temas[]", value: msg.id, checked: i < 5 ? 'checked' : nil }
        %strong= link_to msg.titulo, msg.contenido_dominio_link
        %br/
        &nbsp; &nbsp; &nbsp; Rec: #{ msg.votos_count }, Leído: #{ msg.contador_veces_leido }, Respuestas: #{ msg.respuestas_count }, Corrección por fecha: #{ msg.factor_corrector_para_nuevos }, Puntos: #{ number_with_precision msg.cotizacion, precision: 2 }

  %h3 Más leídos
  %ul.lista-sin-puntitos
    - @masleidos.each_with_index do |msg, i|
      %li
        %input{ id: "masleido_#{msg.id}", type: "checkbox", name: "masleidos[]", value: msg.id, checked: i < 5 ? 'checked' : nil }
        %strong= link_to msg.titulo, msg.contenido_dominio_link
        %br/
        &nbsp; &nbsp; &nbsp; Rec: #{ msg.votos_count }, Leído: #{ msg.contador_veces_leido }, Respuestas: #{ msg.respuestas_count }, Corrección por fecha: #{ msg.factor_corrector_para_nuevos }, Puntos: #{ number_with_precision msg.cotizacion, precision: 2 }

  &nbsp; &nbsp;
  = submit_tag('Generar HTML', class: 'boton_reborde_naranja_grande')
