%h1= @titulo

= form_for @news_tematica do |f|
  = render 'web/muestra_errores_form', variable: @news_tematica
  %table
    - suscribibles = Suscribir::Newsletter.all + Tematica::Tematica.all
    = f.collection_select :suscribible_id, suscribibles, :id_y_clase, :nombre, { selected: @suscribible.id_y_clase }
    %tr
      %th
        = f.label :dominio_de_envio, 'Dominio de envio:'
      %td= f.collection_select :dominio_de_envio, dominios, :to_s, :to_s, include_blank: 'Todos'

    = campo f, 'titulo', class: 'grande', autofocus: true
    = campo f, 'fecha_envio', tipo: 'datetime'
    = campo f, 'fecha_desde', tipo: 'datetime'
    = campo f, 'fecha_hasta', tipo: 'datetime'
    = campo f, 'banner_1_url_imagen', class: 'grande', placeholder: 'http://www.zanox-affiliate.de/ppv/images/programs/9853/expansion/728x90_zanox.gif', label: '<br/><h4>Banner 300x250</h4><br/>URL imagen', prefijo: '<br/><br/><h4> &nbsp;</h4>'
    = campo f, 'banner_1_url_destino', class: 'mediogrande', placeholder: 'http://bit.ly/13fDOE0', label: 'URL destino'
    = campo f, 'banner_1_texto_alt', class: 'mediogrande', placeholder: 'Cuenta Expansión del Banco Sabadell', label: 'Texto alt'
    = campo f, 'banner_2_url_imagen', class: 'grande', placeholder: 'http://www.zanox-affiliate.de/ppv/images/programs/9853/expansion/728x90_zanox.gif', label: '<br/><h4>Banner 728x90</h4><br/>URL imagen', prefijo: '<br/><br/><h4> &nbsp;</h4>'
    = campo f, 'banner_2_url_destino', class: 'mediogrande', placeholder: 'http://bit.ly/13fDOE0', label: 'URL destino'
    = campo f, 'banner_2_texto_alt', class: 'mediogrande', placeholder: 'Cuenta Expansión del Banco Sabadell', label: 'Texto alt'

  = submit_tag('Generar', class: 'boton_reborde_naranja_grande')
